
.background-wrap {
	position: fixed;
	z-index: -1000;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

#video-bg-elem {
	position: absolute;
	min-width: 100%;
	min-height: 100%;
	top: 0;
	left: 0;
}

.colorx {
	position: absolute;
	width: 100%;
	min-height: 100%;
	z-index: 1000;
	background-color: rgba(0,0,0,7);
	opacity: 0.7
}

.content {
	text-align: center;
	font-size: 15px;
	color: #fff;
	background-color: rgba(0,0,0,7);
	opacity: 0.7;
	z-index: 1000;
	width: 100%;
	min-height: 100%;
	position: absolute;
	font-weight: bold;
}

.font1 {
	font-family: Champagne;
}
@font-face {
    font-family: Champagne;
    src: url(../fonts/Champagne.ttf);

}
@font-face {
    font-family: winter;
    src: url(../fonts/winter.ttf);
}
@font-face {
    font-family: CaviarDreams;
    src: url(../fonts/CaviarDreams.ttf);
}

@font-face {
    font-family: KeepCalm;
    src: url(../fonts/KeepCalm-Medium.ttf);
}

